.DS_Store
BPD_Arrests.csv
BPD_Part_1_Victim_Based_Crime_Data.csv
Baltimore2010Tracts.dbf
Baltimore2010Tracts.prj
Baltimore2010Tracts.shp
Baltimore2010Tracts.shx
final.aux
final.log
final.synctex.gz
final.tex
finalProgress.aux
finalProgress.log
finalProgress.pdf
finalProgress.synctex.gz
finalProgress.tex
finalProposal.aux
finalProposal.log
finalProposal.pdf
finalProposal.synctex.gz
finalProposal.tex

